@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["Title"];
}
<head>
    <link rel="stylesheet" href="~/css/kadro.css" />
</head>

<h2>@localizer["dag"]</h2>
<table width="100%" border="1" class="text-dark">
    <tbody>
        <tr>
            <td colspan="2">
                <strong>@localizer["boy"]</strong>
            </td>
            <td colspan="2">
                <strong>@localizer["bacakboy"]</strong>
            </td>
            <td colspan="2" width="148">
                <span style="color: #470521;"><strong>@localizer["tavsiye"]</strong></span>
            </td>
        </tr>
        <tr>
            <td width="128">
                <strong>@localizer["feetinch"]</strong>
            </td>
            <td width="131">
                <strong>@localizer["cm"]</strong>
            </td>
            <td width="85">
                <strong>@localizer["inc"]</strong>
            </td>
            <td>
                <strong>@localizer["cm"]</strong>
            </td>
            <td>
                <strong>@localizer["inc"]</strong>
            </td>
            <td>
                <strong>@localizer["kadroboyu"]</strong>
            </td>
        </tr>
        <tr>
            <td width="128">4`10”-5`1”</td>
            <td width="131">148-158 cm</td>
            <td width="85">24-29”</td>
            <td>61-73 cm</td>
            <td>&lt; 14″</td>
            <td width="67">XS</td>
        </tr>
        <tr>
            <td width="128">5`1″-5`5″</td>
            <td width="131">158-168 cm</td>
            <td width="85">25-30”</td>
            <td>63-76 cm</td>
            <td>15” / 16″</td>
            <td width="67">S</td>
        </tr>
        <tr>
            <td>5`5″-5`9″</td>
            <td>168-178 cm</td>
            <td>26-31”</td>
            <td>66-78 cm</td>
            <td>16” / 17″</td>
            <td>M</td>
        </tr>
        <tr>
            <td>5`9″-6`0″</td>
            <td>178-185 cm</td>
            <td>27`-32`</td>
            <td>68-81 cm</td>
            <td>17″ / 18″</td>
            <td>L</td>
        </tr>
        <tr>
            <td>6`0″-6`3″</td>
            <td>185-193 cm</td>
            <td>28`-33`</td>
            <td width="125">71-83 cm</td>
            <td width="81">18″ / 19″</td>
            <td>XL</td>
        </tr>
        <tr>
            <td>6`1″-6`6″</td>
            <td>193-198 cm</td>
            <td>29`-34`</td>
            <td>73-86 cm</td>
            <td>19″ +</td>
            <td>XXL</td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h2>@localizer["sehir"]</h2>
<table width="100%" border="1" class="text-dark">
    <tbody>
        <tr>
            <td colspan="2">
                <strong>@localizer["boy"]</strong>
            </td>
            <td colspan="2">
                <strong>@localizer["bacakboy"]</strong>
            </td>
            <td colspan="2" width="148">
                <span style="color: #470521;"><strong>@localizer["tavsiye"]</strong></span>
            </td>
        </tr>
        <tr>
            <td width="128">
                <strong>@localizer["feetinch"]</strong>
            </td>
            <td width="131">
                <strong>@localizer["cm"]</strong>
            </td>
            <td width="85">
                <strong>@localizer["inc"]</strong>
            </td>
            <td>
                <strong>@localizer["cm"]</strong>
            </td>
            <td>
                <strong>@localizer["inc"]</strong>
            </td>
            <td>
                <strong>@localizer["kadroboyu"]</strong>
            </td>
        </tr>
        <tr>
            <td width="128">4`10”-5`1”</td>
            <td width="131">147-155 cm</td>
            <td width="85">24-29”</td>
            <td>61-73 cm</td>
            <td>14”</td>
            <td width="67">XS</td>
        </tr>
        <tr>
            <td width="128">5`1`-5`5`</td>
            <td width="131">155-165 cm</td>
            <td width="85">25-30”</td>
            <td>63-76 cm</td>
            <td>15”</td>
            <td width="67">S</td>
        </tr>
        <tr>
            <td>5`5`-5`9`</td>
            <td>165-175 cm</td>
            <td>26-31”</td>
            <td>66-78 cm</td>
            <td>16”</td>
            <td>M</td>
        </tr>
        <tr>
            <td>5`9`-6`0`</td>
            <td>175-183 cm</td>
            <td>27`-32`</td>
            <td>68-81 cm</td>
            <td>17″</td>
            <td>L</td>
        </tr>
        <tr>
            <td>6`0`-6`3`</td>
            <td>183-191 cm</td>
            <td>28`-33`</td>
            <td width="125">71-83 cm</td>
            <td width="81">18″</td>
            <td>XL</td>
        </tr>
        <tr>
            <td>6`1`-6`6`</td>
            <td>191-198 cm</td>
            <td>29`-34`</td>
            <td>73-86 cm</td>
            <td>19″</td>
            <td>XXL</td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h2>@localizer["yol"]</h2>
<table width="100%" border="1" class="text-dark">
    <tbody>
        <tr valign="top">
            <td colspan="2" valign="middle" align="center">
                <strong>@localizer["boy"]</strong>
            </td>
            <td colspan="2" valign="middle" align="center">
                <strong style="color: #470521">@localizer["tavsiye"]</strong>
            </td>
        </tr>
        <tr valign="top">
            <td width="85">
                <strong>@localizer["feetinch"]</strong>
            </td>
            <td width="87" valign="middle" align="center">
                <strong>@localizer["cm"]</strong>
            </td>
            <td valign="middle" align="center">
                <strong>@localizer["cm"]</strong>
            </td>
            <td>
                <strong>@localizer["kadroboyu"]</strong>
            </td>
        </tr>
        <tr valign="middle">
            <td width="85">4`10”-5`0”</td>
            <td width="87">148-152 cm</td>
            <td width="71">47-48 cm</td>
            <td width="38" valign="middle" align="center">XXS</td>
        </tr>
        <tr valign="middle">
            <td width="85">5`0″-5`3″</td>
            <td width="87">152-160 cm</td>
            <td width="71">49-50 cm</td>
            <td width="38" valign="middle" align="center">XS</td>
        </tr>
        <tr valign="middle">
            <td>5`3″-5`6″</td>
            <td>160-168 cm</td>
            <td>51-52-53 cm</td>
            <td>S</td>
        </tr>
        <tr valign="middle">
            <td>5`6″-5`9″</td>
            <td>168-175 cm</td>
            <td>54-55 cm</td>
            <td>M</td>
        </tr>
        <tr valign="middle">
            <td>5`9″-6`0″</td>
            <td>175-183 cm</td>
            <td>56-57-58 cm</td>
            <td>L</td>
        </tr>
        <tr valign="middle">
            <td>6`0″-6`3″</td>
            <td>183-191 cm</td>
            <td>58-59-60 cm</td>
            <td>XL</td>
        </tr>
        <tr valign="middle">
            <td height="20">6`3″-6`6″</td>
            <td>191-198 cm</td>
            <td>61-62-63 cm</td>
            <td>XXL</td>
        </tr>
    </tbody>
</table>
